@import "reset_styles.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
	scroll-behavior: smooth;
}

.wrapper {
	min-height: 100%;
	max-width: 100%;
	overflow: hidden;
	font-family: roboto;
	font-weight: 400;
	margin: 0 auto;
}

.title {
	font-size: 64px;
	line-height: 64px;
	letter-spacing: 2.25px;
	color: #fff;
}

.button {
	display: block;
	border: 1px solid #fff;
	color: #fff;
	max-width: 292px;
	padding: 8px 15px 9px 17px;
	// margin-left: 32px;
	font-size: 11px;
	line-height: 21px;
	letter-spacing: 0.84px;
	border-radius: 3px;
	background: #ffffff20;
	transition: all .3s;
	position: relative;
}

.button::after {
	content: '';
	background: url('/img/1.header/arrow.svg') no-repeat;
	width: 45px;
	height: 11px;
	position: absolute;
	top: 13px;
	right: 11px;
}

.button:hover {
	transform: scale(1.05);
}

.container {
	padding: 0 60px;
	width: 100%;

}

/*==================================== header ====================================*/


.header {
	background: url('../img/1.header/bg.jpg') no-repeat center top / cover;
	color: #fff;
	height: 100vh;

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 90vh;
	}

	&__content {
		padding: 0 32px;
	}

	a {

		transition: all .3s;
	}

	a:hover {
		transform: scale(1.1);
	}

	&__mark {
		padding-top: 11px;
		text-align: center;
		font-size: 10px;
		line-height: 13.2px;
		letter-spacing: 0.72px;
		margin-bottom: 35px;
	}

	&__nav {
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.96px;
		display: flex;
		justify-content: space-between;
		margin-right: 64px;
		margin-left: 70px;
	}

	&__link {
		display: block;
		transition: all .3s;
		color: #fff;
	}

	&__link:hover {
		transform: scale(1.1);
	}


	&__menu {
		position: relative;
	}

	&__menu-popup {
		background: #fff;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 30px;
		left: -8px;
		border-radius: 4px;
		// height: 0px;
		overflow: hidden;
		transition: all .3s;
	}

	&__menu-popup--visible {
		// height: auto;
		visibility: visible;
		opacity: 1;
	}

	&__menu-list {
		padding: 10px;
	}

	&__menu-item:not(:last-child) {
		margin-bottom: 8px;
	}

	&__menu-link {
		color: #000;
	}

	&__menu-link:hover {
		color: #E00B25;
	}

	&__search {
		position: relative;
	}
	&__search-popup {
		border-radius: 20px;
		padding: 20px;
		position: absolute;
		top: -20px;
		right: 70px;
		background: #fff;
		display: flex;
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
	}
	&__search-popup--visible {
		visibility: visible;
		opacity: 1;
	}

	&__search-input::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #000;

	}
	&__search-input {
		margin-right: 10px;
		input {
			width: 200px;
		}
	}

	&__search-button {
		background: #fff;
		transition: all .3s;
		img {
			width: 20px;
			height: 20px;
		}
	}

	&__search-button:hover {
		transform: scale(1.1);
	}



	&__title {
		margin-bottom: 41px;
		margin-left: -4px;
	}

	&__subtitle {
		max-width: 330px;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.72px;
		margin-bottom: 29px;
	}
}


/*==================================== items ====================================*/


.items {
	padding: 81px 0 80px 0;
	display: flex;
	justify-content: space-between;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		font-size: 32px;
		line-height: 38px;
		letter-spacing: -1px;
		color: #191919;
		max-width: 348px;
		position: relative;
		margin-left: 32px;

		span {
			display: inline-block;
			width: 6px;
			height: 6px;
			background: #E00B25;
		}
	}

	&__items {
		margin-right: 50px;
		max-width: 752px;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all .3s;
		overflow: hidden;
		object-fit: cover;
		padding: 0 10px;
	}

	&__item img {
		width: 100%;
		height: 100%;
		transition: all .3s;
	}

	&__item:hover img {
		transform: scale(1.05);
	}

	&__item-name {
		position: absolute;
		font-size: 20px;
		line-height: 26px;
		letter-spacing: 1.44px;
		color: #FFFFFF;
		z-index: 2;
	}
}


/*==================================== eiger ====================================*/


.eiger {
	height: 100vh;
	background: url('../img/3.eiger/bg.jpg') no-repeat center / cover;
	color: #fff;

	// &__container {
	// 	padding-top: 508px;
	// }


	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100vh;
		padding-bottom: 64px;
	}

	&__title {
		margin-left: 28px;
		margin-bottom: 41px;
	}

	&__subtitle {
		margin-left: 32px;
		max-width: 367px;
		margin-bottom: 28px;
		font-size: 12px;
		line-height: 19px;
		letter-spacing: 0.72px;
	}

	&__button {
		margin-left: 32px;
		max-width: 265px;
		color: #fff;
	}
}


/*==================================== men&women ====================================*/


.menandwomen {
	a {
		color: #fff;
	}

	&__inner {
		padding: 100px 32px;
		display: flex;
		justify-content: space-evenly;
	}

	&__item {
		padding: 0 10px;
	}

	&__item-image {
		display: block;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all .3s;
		}
	}

	&__item-image:hover img {
		transform: scale(1.05);
	}

	&__item-link {
		width: 558px;
		height: 419px;
		position: relative;
	}


	&__item-text {
		padding-top: 48px;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__item-title {
		font-size: 29px;
		line-height: 38px;
		letter-spacing: 1.92px;
		margin-left: 48px;
		margin-bottom: 26px;
	}

	&__item-subtitle {
		font-size: 11px;
		line-height: 21px;
		letter-spacing: 0.84px;
		margin-left: 57px;
	}
}


/*==================================== adventure ====================================*/


.adventure {
	padding: 48px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: start;
		position: relative;
	}

	&__title {
		min-width: 228px;
		max-width: 228px;
		font-size: 32px;
		line-height: 38px;
		letter-spacing: -0.6px;
		color: #191919;
		margin-left: 32px;
		position: relative;
		margin-right: 15px;
	}

	&__title::after {
		display: block;
		content: '';
		width: 6px;
		height: 6px;
		background: #E00B25;
		position: absolute;
		bottom: 8px;
		right: 60px;
	}

	&__slider-inner {
		position: relative;
	}

	&__slider {
		width: 1100px;
	}

	&__slide-inner {
		padding: 0 16px;
	}

	&__slide {
		overflow: hidden;
	}

	&__slide img {
		transition: all .3s;
	}

	&__slide img:hover {
		transform: scale(1.1);
	}

	&__slide-link {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	&__slide-name {
		position: absolute;
		font-size: 20px;
		line-height: 26px;
		letter-spacing: 1.44px;
		color: #FFFFFF;
		z-index: 1;
	}

	&__slider-arrows {
		position: absolute;
		top: 100px;
		right: 340px;
	}

	&__slider-arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
		width: 40px;
		height: 40px;
		transition: all .3s;
	}

	&__slider-arrow:hover {
		transform: scale(1.1);
	}

	&__slider-prev {
		position: absolute;
		right: 465px;
	}

	&__slider-next {
		position: absolute;
		left: 45px;
	}
}


/*==================================== bestsellers ====================================*/


.bestsellers {
	height: 100vh;
	min-height: 600px;
	color: #fff;
	margin-bottom: 50px;
	position: relative;
	display: flex;

	a {
		color: #fff;
	}

	&__image {
		background: url('../img/6.bestsellers/img.png') no-repeat right / cover;
		width: 100%;
		max-width: 1536px;
	}

	&__inner {
		background: #23293c;
		min-width: 400px;
		padding-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 187px;
		flex: 1 0 400px;
	}


	&__title {
		margin-left: -4px;
		margin-bottom: 41px;
	}

	&__subtitle {
		max-width: 335px;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.72px;
	}

	&__button-box {
		margin-bottom: 20px;
	}

	&__button {
		max-width: 243px;
		margin-bottom: 16px;
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 176px;
		height: 2px;
		background: #CDCDCD;
		top: 119px;
		right: 0;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 176px;
		height: 2px;
		background: #CDCDCD;
		bottom: -50px;
		right: 0;
	}
}


/*==================================== shop ====================================*/


.shop {
	padding-top: 50px;
	padding-bottom: 100px;
	position: relative;


	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}

	&__title {
		font-size: 32px;
		line-height: 38px;
		letter-spacing: -0.8px;
		color: #191919;
		margin-left: 32px;
		position: relative;
		// margin-bottom: 20px;
		width: 150px;
	}

	&__title::after {
		display: block;
		content: '';
		width: 6px;
		height: 6px;
		background: #E00B25;
		position: absolute;
		bottom: 8px;
		right: -13px;
	}

	&__link {
		font-size: 11px;
		line-height: 21px;
		letter-spacing: 0.84px;
		color: #191919;
		margin-right: 170px;
		align-self: center;
		text-decoration: none;
		background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
		background-size: 100% 1px, 0 1px;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
		transition: background-size 400ms;

	}

	&__link:hover {
		background-size: 0 1px, 100% 1px;
	}

	&__slider-inner {
		// width: 1133px;
		margin: 0 auto;
	}

	&__slide-inner {
		padding: 0 10.5px;
	}

	&__slide {
		display: block;
	}

	&__slide-image {
		margin-bottom: 6px;
	}

	&__slide-name {
		font-size: 11px;
		line-height: 16px;
		letter-spacing: 0.864px;
		color: #191919;
		margin-bottom: 6px;
	}

	&__slide-price {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.48px;
		text-transform: uppercase;
		color: #191919;
	}

	&__slider-arrows {
		position: absolute;
		top: 50px;
		right: 50px;
		display: flex;
		width: 96px;
		justify-content: space-between;
	}

	&__slider-arrow {
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		box-shadow: 1px 1px 3px -1px #000;
		transition: all .3s;
	}

	&__slider-arrow:hover {
		transform: scale(1.1);
	}
}


/*==================================== blog ====================================*/


.blog {
	padding-top: 47px;
	padding-bottom: 59px;

	.container {
		padding: 0;
	}

	&__title {
		font-size: 20px;
		line-height: 26px;
		letter-spacing: 1.44px;
		color: #191919;
		margin-bottom: 28px;
		margin-left: 160px;
	}

	&__photos {
		position: relative;
		margin-bottom: 57px;
		padding: 0 16px;
	}

	&__photos-grid {
		display: grid;
		grid-template: 1fr 1fr / repeat(4, 1fr);
		justify-items: center;
		gap: 16px;
		max-width: 1148px;
		margin: 0 auto;
	}

	&__photos-item {
		max-width: 272px;
		overflow: hidden;

		img {
			width: 100%;
			// height: 100%;
			object-fit: cover;
			transition: all .3s;
		}
	}

	&__photos-item img:hover {
		transform: scale(1.1);
	}

	&__photos-item--last {
		transform: translateY(-20%);
	}

	&__photos-grid::after {
		content: '';
		display: block;
		position: absolute;
		width: 376px;
		height: 2px;
		background: #CDCDCD;
		bottom: 40px;
		right: -100px;
	}

	&__button-link {
		display: block;
		font-size: 11px;
		line-height: 17px;
		text-align: center;
		letter-spacing: 0.864px;
		color: #191919;
		text-align: center;
		border: 1px solid #E1E1E1;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		width: 181px;
		margin: 0 auto;
		position: relative;
		transition: all .3s;
	}

	&__button-link::before {
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		background: url('../img/8.blog/cross-icon.svg');
		position: absolute;
		top: 0;
		left: 50px;
	}

	&__button-text {
		transform: translateX(11px);
	}

	&__button-link:hover {
		transform: scale(1.1);
	}
}

/*==================================== subscribe ====================================*/


.subscribe {
	padding: 59px 20px 144px;

	&__title {
		font-size: 32px;
		line-height: 38px;
		text-align: center;
		letter-spacing: 1.92px;
		color: #191919;
		max-width: 440px;
		margin: 0 auto 20px;
	}

	&__button-link {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		width: 180px;
		height: 50px;
		background: #000;
		font-size: 11px;
		line-height: 14px;
		text-align: center;
		letter-spacing: 0.864px;
		color: #FFFFFF;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		transition: all .3s;
	}

	&__button-link:hover {
		transform: scale(1.1);
	}
}

/*==================================== footer ====================================*/


.footer {

	background: #23293C;

	&__container {
		padding: 0px 40px;
	}

	a {
		color: #fff;
	}

	/*------------------------------ top ------------------------------*/


	&__top {
		padding-top: 64px;
		display: flex;
		justify-content: space-between;
		padding-bottom: 70.52px;
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
	}

	&__top::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #CCCCCC33;
		position: absolute;
		bottom: 0;
	}

	&__logo {
		// margin-right: 112px;
		// width: 180px;
		margin-right: 20px;
		flex: 1 0 180px;
	}

	&__menu {
		// padding-left: 97px;
		// padding-right: 197px;
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
	}

	&__menu-block {
		flex: 1 1 253px;
		padding: 0 15px;
	}

	&__menu-title {
		margin-bottom: 32px;
		color: #fff;
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.864px;
		transition: all .3s;
		pointer-events: none;
	}

	&__menu-title:hover {
		color: #E2001A;
	}

	&__submenu-item {
		margin-bottom: 15px;
	}

	&__menu-link {
		font-size: 11px;
		line-height: 16px;
		letter-spacing: 0.864px;
		transition: all .3s;
	}

	&__menu-link:hover {
		color: #E2001A;
	}

	/*------------------------------ middle ------------------------------*/


	&__middle {
		padding: 65.48px 0 40.52px;
		position: relative;
		margin: 0 auto;
		max-width: 1200px;
	}

	&__middle::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #CCCCCC33;
		position: absolute;
		bottom: 0;
	}

	&__middle-items {
		display: flex;
		justify-content: space-between;
		max-width: 1024px;
		margin: 0 auto;
	}

	&__middle-item {
		display: flex;
		align-items: center;
		max-width: 280px;
	}

	&__middle-image {
		display: block;
		width: 56px;
		height: 56px;
		background: #303851;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 16px;
	}

	&__middle-image--path svg path {
		transition: all .3s;
	}

	&__middle-image--path:hover svg path {
		fill: #E2001A;
	}

	&__middle-image--stroke svg path {
		transition: all .3s;
	}

	&__middle-image--stroke:hover svg path {
		stroke: #E2001A;
	}


	&__middle-item-title {
		font-size: 12px;
		line-height: 19px;
		letter-spacing: 0.72px;
		color: #FFFFFF;
	}

	&__middle-item-text {
		font-size: 10px;
		line-height: 16px;
		letter-spacing: 0.6px;
		color: #CDCDCD;
	}

	/*------------------------------ bottom ------------------------------*/



	&__bottom {
		padding: 30px 0;
	}

	&__bottom-inner {
		margin: 0 auto;
		display: flex;
		// justify-content: space-between;
		max-width: 1200px;
	}

	&__bottom-location {
		width: 97px;
		display: flex;
		align-items: center;
	}

	&__bottom-button {
		background: #DDDDDD;
		width: 100px;
		border: 1px solid #767676;
		position: relative;
	}

	&__bottom-button::before {
		content: '';
		display: block;
		background: url('/img/9.footer/location.svg');
		width: 14px;
		height: 16px;
		position: absolute;
		top: 2px;
		left: 4px;
	}

	&__bottom-button-link {
		display: block;
		font-size: 11px;
		line-height: 21px;
		letter-spacing: 0.84px;
		margin-left: 26px;
	}

	&__bottom-link {
		font-size: 11px;
		line-height: 21px;
		letter-spacing: 0.84px;
		transition: all .3s;
	}

	&__bottom-link:hover {
		color: #E2001A;
	}


	&__bottom-links {
		display: flex;
		font-size: 12px;
		line-height: 21px;
		letter-spacing: 0.84px;
		width: 412px;
		justify-content: space-between;
		align-items: center;
		margin-left: 40px;
		margin-right: 40px;
	}

	&__bottom-socials {
		display: flex;
		width: 161px;
		justify-content: space-between;
		margin-left: auto;
	}

	&__bottom-socials-icon svg path {
		transition: all .3s;
	}

	&__bottom-socials-icon:hover svg path {
		fill: #E00B25;
	}
}


/*==================================== media ====================================*/

/*==================================== 1500 ====================================*/

@media (max-width:1500px) {
	/*------------------------------ adventure ------------------------------*/

	.adventure .container {
		padding: 0;
	}

	.adventure__slider-arrows {
		top: center;

	}
}


/*==================================== 1350 ====================================*/


@media (max-width: 1350px) {
	/*------------------------------ items ------------------------------*/

	.items {}
}



/*==================================== 1200 ====================================*/


@media (max-width: 1200px) {
	.container {
		padding: 0;
	}

	/*------------------------------ header ------------------------------*/

	.header {
		&__content {
			padding-bottom: 38px;
		}
	}
}

@media (max-width: 850px) {
	/*------------------------------ header ------------------------------*/

	.header {
		background-position: 0 0;
	}
}





/*==================================== 1170 ====================================*/

@media (max-width: 1170px) {

	/*------------------------------ adventure ------------------------------*/
	.adventure {
		&__slider {
			max-width: 800px;
		}

		&__slider-prev {
			right: 172px;
		}

		&__slider-next {
			left: 56px;
		}
	}

}

/*==================================== 1148 ====================================*/

@media (max-width: 1148px) {
	.blog {
		&__photos-grid::after {
			content: "";
			display: block;
			position: absolute;
			width: 33%;
			height: 2px;
			background: #CDCDCD;
			bottom: 5%;
			right: -100px;
		}
	}
}

/*==================================== 980 ====================================*/

@media (max-width: 980px) {
	/*------------------------------ eiger ------------------------------*/

	.eiger {
		background-position: 0 0;

	}

	/*------------------------------ adventure ------------------------------*/

	.adventure {
		&__slider-arrows {
			display: none;
		}

		// &__slide-inner{
		// 	width: 300px;
		// }

		&__slider {
			max-width: 600px;
		}

		&__slider-dots .slick-dots {
			display: flex;
			justify-content: center;
			// transform: translate(10%);
			align-items: center;
			padding-top: 20px;
		}

		&__slider-dots li {
			margin-right: 12px;
		}

		&__slider-dots li:last-child {
			margin-right: 0;
		}

		&__slider-dots button {
			font-size: 0;
			background-color: transparent;
			width: 10px;
			height: 30px;
			display: flex;
			align-items: center;
		}

		&__slider-dots button::before {
			content: "";
			height: 10px;
			width: 100%;
			background-color: #B3B7BC;
			border-radius: 50%;
		}

		&__slider-dots .slick-active button::before {
			background-color: #424551;
			transition: all .3s;
		}
	}

	/*------------------------------ bestsellers ------------------------------*/

	.bestsellers {
		// height: auto;
		display: flex;
		flex-direction: column;
		background: #23293C;
		justify-content: space-between;

		&__image {
			height: 100%;
			background: url('/img/6.bestsellers/img.png') no-repeat center -180px/ cover;
			position: relative;
		}

		&__inner {
			padding: 0px;
		}

		&__info {
			height: 100%;
			padding: 20px 0;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}

		&__title {
			text-align: center;
			position: relative;
		}

		&__subtitle {
			margin-bottom: 40px;
			text-align: center;
		}

		&__button {
			width: 100%;
			margin: 0 auto 30px;
		}

		&__info::before {
			content: "";
			display: block;
			position: absolute;
			width: 176px;
			height: 2px;
			background: #CDCDCD;
			bottom: 300px;
			right: 0;
		}
	}

	/*------------------------------ footer ------------------------------*/
	/*------------------------------ middle ------------------------------*/

	.footer {
		&__middle-items {
			display: grid;
			grid-template: repeat(2, 1fr) / repeat(2, 1fr);
			gap: 16px;
		}
	}

}

/*==================================== 870 ====================================*/

@media (max-width: 870px) {

	.items {
		&__inner {
			padding: 20px;
			flex-direction: column;
			align-items: center;
		}

		&__title {
			margin-left: 0;
			margin-bottom: 30px;
		}

		&__items {
			margin: 0 auto;
		}
	}

	.adventure {
		.container {
			padding: 20px;
		}

		&__title {
			margin: 0 0 30px;
			max-width: none;
		}

		&__title::after {
			bottom: 6px;
			right: -14px;
		}

		&__inner {
			flex-direction: column;
			align-items: center;
		}

		&__slider {
			max-width: 770px;
		}

		&__slide-inner {
			padding: 0 0px;
		}
	}

	.footer {
		&__bottom {
			padding-top: 20px;
		}

		&__bottom-inner {
			flex-wrap: wrap-reverse;
			// border: 1px solid orange;
			position: relative;
		}

		&__bottom-links {
			margin-right: 81px;
		}

		&__bottom-socials {
			margin-left: 0;
			margin-bottom: 40px;

		}

		&__bottom-inner::before {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: rgba(204, 204, 204, 0.2);
			position: absolute;
			// bottom: 0;
			top: 40px;
			left: 0;
		}
	}
}

/*==================================== 800 ====================================*/

@media (max-width: 800px) {


	/*------------------------------ men&women ------------------------------*/

	.menandwomen {
		&__item-text {
			padding: 0;
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__item-title {
			margin-left: 0;
		}

		&__item-subtitle {
			margin-left: 0;
		}
	}
}

/*==================================== 790 ====================================*/


@media (max-width: 790px) {
	.adventure {
		&__slider {
			max-width: 600px;
		}
	}

	.bestsellers {
		&__image {
			background-position: center -112px;

		}
	}

	/*------------------------------ footer ------------------------------*/
	/*------------------------------ footer top ------------------------------*/
	.footer {
		&__top {
			padding-bottom: 15px;
		}

		&__logo {
			flex: none;
			width: 180px;
			margin: 20px 30px 40px 0;
		}

		&__menu {
			display: block;
		}

		&__menu-block {
			padding: 0;
		}

		&__menu-title {
			cursor: pointer;
			pointer-events: all;
			margin: 0;
			margin-top: 20px;
			position: relative;
			padding-left: 15px;
		}

		&__menu-title::before {
			content: "";
			display: block;
			max-width: 100%;
			height: 1px;
			background: rgba(204, 204, 204, 0.2);
			position: relative;
			bottom: 10px;
			// right: 14px;
		}

		&__submenu {
			padding-top: 20px;
			display: none;
			margin-bottom: 30px;
			padding-left: 15px;
		}
	}

}

/*==================================== 720 ====================================*/


@media (max-width: 720px) {
	.footer {
		&__bottom-links {
			margin-right: 0;
		}
	}

}


/*==================================== 668 ====================================*/


@media (max-width: 668px) {
	.footer {
		&__bottom-inner {
			flex-direction: column-reverse;
			flex-wrap: nowrap;
		}

		&__bottom-links {
			margin-right: 0;
			margin-left: 0;
			margin-bottom: 40px;
			position: relative;
		}

		&__bottom-inner::after {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: rgba(204, 204, 204, 0.2);
			position: absolute;
			top: 100px;
			left: 0;
		}
	}
}


/*==================================== 600 ====================================*/


@media (max-width: 600px) {
	.button::after {
		display: none;
	}

	.title {
		font-size: 50px;
	}

	/*------------------------------ header ------------------------------*/

	.header {
		background: url('/img/1.header/bg-left.jpg') no-repeat center / cover;

		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__title {
			text-align: center;
			padding: 0 15px;
			font-size: 50px;
			margin-left: 0;
		}

		&__subtitle {
			padding: 0 15px;
			margin-left: 0;
			text-align: center;
		}

		&__button {
			margin-left: 0;
		}

		&__button::after {
			display: none;
		}
	}

	/*------------------------------ eiger ------------------------------*/

	.eiger {
		&__button {
			max-width: 230px;
		}
	}

	/*------------------------------ men&women ------------------------------*/

	.menandwomen {
		&__inner {
			flex-direction: column;
			padding: 50px 32px;
		}

		&__item {
			padding: 20px 0;
		}
	}


	/*------------------------------ adventure ------------------------------*/

	.adventure {
		&__slider {
			max-width: 400px;
		}
	}

	/*------------------------------ bestsellers ------------------------------*/

	.bestsellers {
		&__title {
			text-align: center;
		}

		&__image {
			background-position: center 0;
		}

		&__subtitle {
			padding: 0 15px;
		}

		&__button {
			text-align: center;
		}
	}

	/*------------------------------ blog ------------------------------*/

	.blog {
		&__photos-grid {
			grid-template: 1fr 1fr / 1fr 1fr 1fr;
		}

		&__photos-item--item1 {
			order: 1;
		}

		&__photos-item--item2 {
			order: 2;
		}

		&__photos-item--item3 {
			order: 4;
		}

		&__photos-item--item4 {
			order: 6;
		}

		&__photos-item--item5 {
			order: 5;
		}

		&__photos-item--item6 {
			order: 6;
		}

		&__photos-item--item7 {
			order: 7;
		}

		&__photos-item--item8 {
			order: 8;
		}
	}

	/*------------------------------ subscribe ------------------------------*/

	.subscribe {
		padding-bottom: 50px;
	}
}

/*==================================== 650 ====================================*/

@media (max-width: 650px) {
	.items {
		&__title {
			max-width: 348px;
			text-align: center;
		}

		&__title::after {
			top: 83px;
			right: 26px;
		}
	}

	.adventure {
		&__title {
			text-align: center;
		}
	}

}

/*==================================== 565 ====================================*/

@media (max-width: 565px) {
	.items {
		&__items {
			flex-direction: column;
		}

		&__item {
			padding: 20px;
		}
	}

	.footer {
		&__middle-items {
			display: flex;
			flex-direction: column;
		}

		&__middle-image {
			width: 40px;
			height: 40px;
			flex: 0 0 40px;
		}

		&__top {
			flex-direction: column;
		}

		&__logo {
			margin: 0 auto 40px;
		}

		&__menu-title {
			padding-left: 0;
		}

		&__submenu {
			padding-left: 0;
		}
	}
}

/*==================================== 500 ====================================*/

@media (max-width: 500px) {
	.shop {
		&__info {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&__title {
			margin: 20px 0;
		}

		&__slider-arrows {
			display: none;
		}

		&__link {
			margin-right: 0px;
			margin-left: 5px;
		}

		&__slider-dots .slick-dots {
			margin-top: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__slider-dots li {
			margin-right: 12px;
		}

		&__slider-dots li:last-child {
			margin-right: 0;
		}

		&__slider-dots button {
			font-size: 0;
			background-color: transparent;
			width: 10px;
			height: 30px;
			display: flex;
			align-items: center;
		}

		&__slider-dots button::before {
			content: "";
			height: 10px;
			width: 100%;
			background-color: #B3B7BC;
			border-radius: 50%;
		}

		&__slider-dots .slick-active button::before {
			background-color: #424551;
			transition: all .3s;
		}
	}

	/*------------------------------ footer ------------------------------*/


	.footer {
		&__bottom-links {
			flex-direction: column;
			align-items: start;
		}

		&__bottom-inner::after {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: rgba(204, 204, 204, 0.2);
			position: absolute;
			top: 170px;
			left: 0;
		}
	}
}

/*==================================== 420 ====================================*/

@media (max-width: 420px) {
	/*------------------------------ eiger ------------------------------*/



	.eiger {
		&__title {
			padding-right: 32px;
		}

		&__subtitle {
			padding-right: 32px;
		}
	}

	/*------------------------------ adventure ------------------------------*/

	.adventure {
		&__title {
			width: 380px;
		}

		&__title::after {
			right: 100px;
		}
	}

	/*------------------------------ blog ------------------------------*/

	.blog {
		&__photos-grid {
			grid-template: repeat(3, 1fr) / repeat(2, 1fr);
			gap: 8px;
		}

		&__photos-item--item4 {
			order: 6;
		}

		&__photos-item--item6 {
			order: 5;
		}

		&__photos-grid::after {
			width: 72%;
			bottom: 2%;
		}

		&__title {
			margin: 0 auto 28px;
			width: 110px;
		}
	}
}


/*==================================== 400 ====================================*/

@media (max-width: 400px) {
	/*------------------------------ eiger ------------------------------*/

	.eiger {
		&__title {
			text-align: center;
		}

		&__subtitle {
			text-align: center;
		}

		&__button {
			margin: 0 auto;
		}
	}

	/*------------------------------ men&womwn ------------------------------*/

	.menandwomen {
		&__inner {
			padding: 30px 15px;
		}
	}

	/*------------------------------ bestsellers ------------------------------*/

	.bestsellers {
		&__image {
			background-position: right;
		}

		&__inner {
			min-width: auto;
		}

		&__info {
			max-width: 300px;
		}
	}
}


/*==================================== 340 ====================================*/

@media (max-width: 340px) {
	/*------------------------------ header ------------------------------*/

	.header {
		&__nav {
			margin: 0;
			display: flex;
			justify-content: space-around;
		}

		&__button {
			text-align: center;
			max-width: 200px;
		}
	}

	/*------------------------------ items ------------------------------*/

	.items {
		&__title {
			max-width: 282px;
		}

		&__title::after {
			top: 123px;
			right: 54px;
		}
	}

	/*------------------------------ bestsellers ------------------------------*/

	.bestsellers {
		&__title {
			font-size: 40px;
		}
	}

	/*------------------------------ shop ------------------------------*/


}