@import "reset";
@import "fonts";


html {
	scroll-behavior: smooth;
}

.wrapper {
	min-height: 100%;
	max-width: 100%;
	overflow: hidden;
	font-family: roboto;
	font-weight: 400;
	margin: 0 auto;
}


.button {
	display: block;
	border: 1px solid #fff;
	color: #fff;
	max-width: 292px;
	padding: 8px 15px 9px 17px;
	// margin-left: 32px;
	font-size: 11px;
	line-height: 21px;
	letter-spacing: 0.84px;
	border-radius: 3px;
	background: #ffffff20;
	transition: all .3s;
	position: relative;
}

.button::after {
	content: '';
	background: url('../img/1.header/arrow.svg') no-repeat;
	width: 45px;
	height: 11px;
	position: absolute;
	top: 13px;
	right: 11px;
}

.button:hover {
	transform: scale(1.05);
}

.container {
	padding: 0 60px;
	width: 100%;
	height: 100%;
}

.main-heading {
	font-size: 64px;
	line-height: 64px;
	letter-spacing: 2.25px;
	color: #fff;
}

.heading {
	font-size: 32px;
	line-height: 38px;
	letter-spacing: -1px;
	color: #191919;
	max-width: 348px;
	position: relative;
	margin-left: 32px;

	span {
		display: inline-block;
		width: 6px;
		height: 6px;
		background: #E00B25;
	}
}


/*==================================== header ====================================*/


.header {
	color: #fff;
	position: absolute;
	width: 100%;
	transform: translate(0, -100px);
	transition: all .5s 1.5s;

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 12px 0;
	}

	a {
		transition: all .3s;
	}

	a:hover {
		transform: scale(1.1);
	}

	&__mark {
		text-align: center;
		font-size: 10px;
		line-height: 13.2px;
		letter-spacing: 0.72px;
		margin-bottom: 35px;
	}

	&__nav {
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.96px;
		display: flex;
		justify-content: space-between;
		margin-right: 64px;
		margin-left: 70px;
		// align-self: start;
	}

	&__link {
		display: block;
		transition: all .3s;
		color: #fff;
	}

	&__link:hover {
		transform: scale(1.1);
	}

	&__menu {
		position: relative;
	}

	&__menu-popup {
		background: #fff;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 30px;
		left: -8px;
		border-radius: 4px;
		// height: 0px;
		overflow: hidden;
		transition: all .3s;
	}

	&__menu-popup--visible {
		// height: auto;
		visibility: visible;
		opacity: 1;
	}

	&__menu-list {
		padding: 10px;
	}

	&__menu-item:not(:last-child) {
		margin-bottom: 8px;
	}

	&__menu-link {
		color: #000;
	}

	&__menu-link:hover {
		color: #E00B25;
	}

	&__search {
		position: relative;
	}

	&__search-popup {
		border-radius: 20px;
		padding: 20px;
		position: absolute;
		top: -20px;
		right: 70px;
		background: #fff;
		display: flex;
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
	}

	&__search-popup--visible {
		visibility: visible;
		opacity: 1;
	}

	&__search-input::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #000;

	}

	&__search-input {
		margin-right: 10px;

		input {
			width: 200px;
		}
	}

	&__search-button {
		background: #fff;
		transition: all .3s;

		img {
			width: 20px;
			height: 20px;
		}
	}

	&__search-button:hover {
		transform: scale(1.1);
	}
}


/*==================================== hero ====================================*/
.hero {
	height: 100vh;
	background: url('/img/0.hero/bg.jpg') no-repeat center / cover;

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding: 100px 60px;
		height: 100%;
	}

	&__heading {
		margin-bottom: 41px;
		margin-left: -4px;
		transform: translate(-100px, 0);
		transition: all .5s;
	}

	&__text {
		max-width: 330px;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.72px;
		margin-bottom: 29px;
		color: #fff;
		transform: translate(-100px, 0);
		transition: all .5s .5s;
	}

	&__button-box {
		transform: translate(-100px, 0);
		transition: all .5s 1s;
	}
}


/*==================================== items ====================================*/


.items {
	padding: 81px 0 80px 0;
	display: flex;
	justify-content: space-between;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__heading {
		font-size: 32px;
		line-height: 38px;
		letter-spacing: -1px;
		color: #191919;
		max-width: 348px;
		position: relative;
		margin-left: 32px;
		transform: translate(-100px, 0);
		transition: all .5s;
	}

	&__items {
		margin-right: 50px;
		max-width: 752px;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		transform: translate(0, 0) scale(0);

		&:nth-child(1) {
			transition: all .5s .5s;
		}

		&:nth-child(2) {
			transition: all .5s .75s;
		}

		&:nth-child(3) {
			transition: all .5s 1s;
		}
	}

	&__item-link {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all .3s;
		overflow: hidden;
		object-fit: cover;
		padding: 0 10px;
	}

	&__item img {
		width: 100%;
		height: 100%;
		transition: all .3s;
	}

	&__item:hover img {
		transform: scale(1.05);
	}

	&__item-name {
		position: absolute;
		font-size: 20px;
		line-height: 26px;
		letter-spacing: 1.44px;
		color: #FFFFFF;
		z-index: 2;
	}
}


/*==================================== eiger ====================================*/


.eiger {
	height: 100vh;
	background: url('../img/3.eiger/bg.jpg') no-repeat center / cover;
	color: #fff;


	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100vh;
		padding-bottom: 64px;
	}

	&__heading {
		margin-left: 28px;
		margin-bottom: 41px;
		transform: translate(-100px, 0);
		transition: all .5s;
	}

	&__text {
		margin-left: 32px;
		max-width: 367px;
		margin-bottom: 28px;
		font-size: 12px;
		line-height: 19px;
		letter-spacing: 0.72px;
		transform: translate(-100px, 0);
		transition: all .5s .25s;
	}

	&__button-box {
		transform: translate(-100px, 0);
		transition: all .5s .5s;
	}

	&__button {
		margin-left: 32px;
		max-width: 265px;
		color: #fff;
	}
}


/*==================================== men&women ====================================*/


.menandwomen {
	a {
		color: #fff;
	}

	&__inner {
		padding: 100px 32px;
		display: flex;
		justify-content: space-evenly;
	}

	&__item {
		padding: 0 10px;
		transform: translate(0, 0) scale(0);

		&:nth-child(1) {
			transition: all .5s;
		}

		&:nth-child(2) {
			transition: all .5s .5s;
		}
	}

	&__item-image {
		display: block;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all .3s;
		}
	}

	&__item-image:hover img {
		transform: scale(1.05);
	}

	&__item-link {
		width: 558px;
		height: 419px;
		position: relative;
	}


	&__item-text {
		padding-top: 48px;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__item-title {
		font-size: 29px;
		line-height: 38px;
		letter-spacing: 1.92px;
		margin-left: 48px;
		margin-bottom: 26px;
	}

	&__item-subtitle {
		font-size: 11px;
		line-height: 21px;
		letter-spacing: 0.84px;
		margin-left: 57px;
	}
}


/*==================================== adventure ====================================*/


.adventure {
	padding: 48px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: start;
		position: relative;
	}

	&__heading {
		transform: translate(-100px, 0);
		transition: all .5s;
	}

	&__slider-inner {
		position: relative;
		transform: translate(100px, 0);
		transition: all .5s .5s;
	}

	&__slider {
		width: 1100px;
	}

	&__slide-inner {
		padding: 0 16px;
	}

	&__slide {
		overflow: hidden;
	}

	&__slide img {
		transition: all .3s;
	}

	&__slide img:hover {
		transform: scale(1.1);
	}

	&__slide-link {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	&__slide-name {
		position: absolute;
		font-size: 20px;
		line-height: 26px;
		letter-spacing: 1.44px;
		color: #FFFFFF;
		z-index: 1;
	}

	&__slider-arrows {
		position: absolute;
		top: 100px;
		right: 340px;
	}

	&__slider-arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
		width: 40px;
		height: 40px;
		transition: all .3s;
	}

	&__slider-arrow:hover {
		transform: scale(1.1);
	}

	&__slider-prev {
		position: absolute;
		right: 465px;
	}

	&__slider-next {
		position: absolute;
		left: 45px;
	}
}


/*==================================== bestsellers ====================================*/


.bestsellers {
	height: 100vh;
	min-height: 600px;
	color: #fff;
	margin-bottom: 50px;
	position: relative;
	display: flex;

	a {
		color: #fff;
	}

	&__image {
		background: url('../img/6.bestsellers/img.png') no-repeat right / cover;
		width: 100%;
		max-width: 1536px;
		transform: translate(-100px, 0);
		transition: all .3s;
	}

	&__inner {
		background: #23293c;
		min-width: 400px;
		padding-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 187px;
		flex: 1 0 400px;
	}


	&__heading {
		margin-left: -4px;
		margin-bottom: 41px;
		transform: translate(100px, 0);
		transition: all .3s;
	}

	&__text {
		max-width: 335px;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.72px;
		transform: translate(100px, 0);
		transition: all .5s;
	}

	&__button-box {
		margin-bottom: 20px;
	}

	&__button-wrapper {
		transform: translate(0, 0) scale(0);
		transition: all .5s;
	}

	&__button {
		max-width: 243px;
		margin-bottom: 16px;
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 176px;
		height: 2px;
		background: #CDCDCD;
		top: 119px;
		right: 0;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 176px;
		height: 2px;
		background: #CDCDCD;
		bottom: -50px;
		right: 0;
	}
}


/*==================================== shop ====================================*/

.shop {
	padding-top: 50px;
	padding-bottom: 100px;
	position: relative;


	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}

	&__heading {
		font-size: 32px;
		line-height: 38px;
		letter-spacing: -0.8px;
		color: #191919;
		margin-left: 32px;
		max-width: 170px;
		transform: translate(-100px, 0);
		transition: all .5s;
	}

	&__link {
		font-size: 11px;
		line-height: 21px;
		letter-spacing: 0.84px;
		color: #191919;
		margin-right: 170px;
		align-self: center;
		text-decoration: none;
		background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
		background-size: 100% 1px, 0 1px;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
		transition: background-size 400ms;

	}

	&__link:hover {
		background-size: 0 1px, 100% 1px;
	}

	&__slider-inner {
		margin: 0 auto;
		transform: translate(100px, 0);
		transition: all .5s .5s;
	}

	&__slide-inner {
		padding: 0 10.5px;
	}

	&__slide {
		display: block;
	}

	&__slide-image {
		margin-bottom: 6px;
	}

	&__slide-name {
		font-size: 11px;
		line-height: 16px;
		letter-spacing: 0.864px;
		color: #191919;
		margin-bottom: 6px;
	}

	&__slide-price {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.48px;
		text-transform: uppercase;
		color: #191919;
	}

	&__slider-arrows {
		position: absolute;
		top: 50px;
		right: 50px;
		display: flex;
		width: 96px;
		justify-content: space-between;
		transform: translate(100px, 0);
		transition: all .5s .75s;
	}

	&__slider-arrow {
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		box-shadow: 1px 1px 3px -1px #000;
		transition: all .3s;
	}

	&__slider-arrow:hover {
		transform: scale(1.1);
	}
}


/*==================================== blog ====================================*/


.blog {
	padding-top: 47px;
	padding-bottom: 59px;

	.container {
		padding: 0;
	}

	&__heading {
		font-size: 20px;
		line-height: 26px;
		letter-spacing: 1.44px;
		color: #191919;
		margin-bottom: 28px;
		margin-left: 160px;
		transform: translate(-100px, 0);
		transition: all .5s;
	}

	&__photos {
		position: relative;
		margin-bottom: 57px;
		padding: 0 16px;
	}

	&__photos-grid {
		display: grid;
		grid-template: 1fr 1fr / repeat(4, 1fr);
		justify-items: center;
		gap: 16px;
		max-width: 1148px;
		margin: 0 auto;
	}

	&__photos-item {
		max-width: 272px;
		overflow: hidden;
		transform: translateX(0) scale(0);

		img {
			width: 100%;
			// height: 100%;
			object-fit: cover;
			transition: all .3s;
		}

		&--item1 {
			transition: all .5s;
		}

		&--item2 {
			transition: all .5s .25s;
		}

		&--item3 {
			transition: all .5s .5s;
		}

		&--item4 {
			transition: all .5s .75s;
		}

		&--item5 {
			transition: all .5s;
		}

		&--item6 {
			transition: all .5s .25s;
		}

		&--item7 {
			transition: all .5s .5s;
		}

		&--item8 {
			transition: all .5s .75s;
		}
	}

	&__photos-item img:hover {
		transform: scale(1.1);
	}

	&__photos-item--last {
		position: relative;
		top: -20%;
	}

	&__photos-grid::after {
		content: '';
		display: block;
		position: absolute;
		width: 376px;
		height: 2px;
		background: #CDCDCD;
		bottom: 40px;
		right: -100px;
	}

	&__button {
		transform: translate(0, 100px);
		transition: all .5s;
	}

	&__button-link {
		display: block;
		font-size: 11px;
		line-height: 17px;
		text-align: center;
		letter-spacing: 0.864px;
		color: #191919;
		text-align: center;
		border: 1px solid #E1E1E1;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		width: 181px;
		margin: 0 auto;
		position: relative;
		transition: all .3s;
	}

	&__button-link::before {
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		background: url('../img/8.blog/cross-icon.svg');
		position: absolute;
		top: 0;
		left: 50px;
	}

	&__button-text {
		transform: translateX(11px);
	}

	&__button-link:hover {
		transform: scale(1.1);
	}
}

/*==================================== subscribe ====================================*/


.subscribe {
	padding: 59px 20px 144px;

	&__heading {
		font-size: 32px;
		line-height: 38px;
		text-align: center;
		letter-spacing: 1.92px;
		color: #191919;
		max-width: 440px;
		margin: 0 auto 20px;
		transform: translate(0, 100px);
		transition: all .5s;
	}

	&__button {
		transform: translate(0, 100px);
		transition: all .5s;
	}

	&__button-link {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		width: 180px;
		height: 50px;
		background: #000;
		font-size: 11px;
		line-height: 14px;
		text-align: center;
		letter-spacing: 0.864px;
		color: #FFFFFF;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		transition: all .3s;
	}

	&__button-link:hover {
		transform: scale(1.1);
	}
}

/*==================================== footer ====================================*/


.footer {

	background: #23293C;

	&__container {
		padding: 0px 40px;
	}

	a {
		color: #fff;
	}

	/*------------------------------ top ------------------------------*/


	&__top {
		padding-top: 64px;
		display: flex;
		justify-content: space-between;
		padding-bottom: 70.52px;
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
	}

	&__top::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #CCCCCC33;
		position: absolute;
		bottom: 0;
	}

	&__logo {
		margin-right: 20px;
		flex: 1 0 180px;
		transform: translate(-100px, 0) scale(0);
		transition: all .5s;
	}

	&__menu {
		// padding-left: 97px;
		// padding-right: 197px;
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
	}

	&__menu-block {
		flex: 1 1 253px;
		padding: 0 15px;
		transform: translate(-100px, 0) scale(0);

		&:nth-child(1) {
			transition: all .5s .25s;
		}

		&:nth-child(2) {
			transition: all .5s .5s;
		}

		&:nth-child(3) {
			transition: all .5s .75s;
		}
	}

	&__menu-title {
		margin-bottom: 32px;
		color: #fff;
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.864px;
		transition: all .3s;
		pointer-events: none;
	}

	&__menu-title:hover {
		color: #E2001A;
	}

	&__submenu-item {
		margin-bottom: 15px;
	}

	&__menu-link {
		font-size: 11px;
		line-height: 16px;
		letter-spacing: 0.864px;
		transition: all .3s;
	}

	&__menu-link:hover {
		color: #E2001A;
	}

	/*------------------------------ middle ------------------------------*/


	&__middle {
		padding: 65.48px 0 40.52px;
		position: relative;
		margin: 0 auto;
		max-width: 1200px;
	}

	&__middle::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #CCCCCC33;
		position: absolute;
		bottom: 0;
	}

	&__middle-items {
		display: flex;
		justify-content: space-between;
		max-width: 1024px;
		margin: 0 auto;
	}

	&__middle-item {
		display: flex;
		align-items: center;
		max-width: 280px;
		transform: translate(0, 0) scale(0);

		&:nth-child(1) {
			transition: all .5s;
		}

		&:nth-child(2) {
			transition: all .5s .25s;
		}

		&:nth-child(3) {
			transition: all .5s .5s;
		}

		&:nth-child(4) {
			transition: all .5s .75s;
		}
	}

	&__middle-image {
		display: block;
		width: 56px;
		height: 56px;
		background: #303851;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 16px;
	}

	&__middle-image--path svg path {
		transition: all .3s;
	}

	&__middle-image--path:hover svg path {
		fill: #E2001A;
	}

	&__middle-image--stroke svg path {
		transition: all .3s;
	}

	&__middle-image--stroke:hover svg path {
		stroke: #E2001A;
	}


	&__middle-item-title {
		font-size: 12px;
		line-height: 19px;
		letter-spacing: 0.72px;
		color: #FFFFFF;
	}

	&__middle-item-text {
		font-size: 10px;
		line-height: 16px;
		letter-spacing: 0.6px;
		color: #CDCDCD;
	}

	/*------------------------------ bottom ------------------------------*/



	&__bottom {
		padding: 30px 0;
		transform: translate(0, 50px);
		transition: all .5s;
	}

	&__bottom-inner {
		margin: 0 auto;
		display: flex;
		// justify-content: space-between;
		max-width: 1200px;
	}

	&__bottom-location {
		width: 97px;
		display: flex;
		align-items: center;
	}

	&__bottom-button {
		background: #DDDDDD;
		width: 100px;
		border: 1px solid #767676;
		position: relative;
	}

	&__bottom-button::before {
		content: '';
		display: block;
		background: url('../img/9.footer/location.svg');
		width: 14px;
		height: 16px;
		position: absolute;
		top: 2px;
		left: 4px;
	}

	&__bottom-button-link {
		display: block;
		font-size: 11px;
		line-height: 21px;
		letter-spacing: 0.84px;
		margin-left: 26px;
	}

	&__bottom-link {
		font-size: 11px;
		line-height: 21px;
		letter-spacing: 0.84px;
		transition: all .3s;
	}

	&__bottom-link:hover {
		color: #E2001A;
	}


	&__bottom-links {
		display: flex;
		font-size: 12px;
		line-height: 21px;
		letter-spacing: 0.84px;
		width: 412px;
		justify-content: space-between;
		align-items: center;
		margin-left: 40px;
		margin-right: 40px;
	}

	&__bottom-socials {
		display: flex;
		width: 161px;
		justify-content: space-between;
		margin-left: auto;
	}

	&__bottom-socials-icon svg path {
		transition: all .3s;
	}

	&__bottom-socials-icon:hover svg path {
		fill: #E00B25;
	}
}

@import "media";

/*==================================== ANIMATION ====================================*/

.loading,
.anim-item {
	opacity: 0;
}

.loaded,
.anim-item--active {
	opacity: 1;
	transform: translate(0, 0);
	transform: scale(1);
	transform: translate(0, 0) scale(1);
}